<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<title>ELASTIC CRUD</title>
  </head>
  <body>
    <form id="enviar">
      <h3>Inserir Nome</h3>
      <!--Elasticsearch IP-->
      <div>
        <label>Elasticsearch IP</label>
        <input type="text" id="ElkIP" placeholder="Elasticsearch IP" value="10.0.1.69">
      </div>
      <!--First Name-->
      <div>
        <label>First Name</label>
        <input type="text" id="firstName" placeholder="First Name">
      </div>
      <!--Last Name-->
      <div>
        <label>Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name">
      </div>

      <!--Submit Button-->
      <button type="submit" id="send">Enviar</button>
    </form>
    
    </br>
      <div id="insertOutput"></div>
    </br>

    <form id="buscar">
      <h3>Buscar Nome</h3>
      <!--Elasticsearch IP-->
      <div>
        <label>Elasticsearch IP</label>
        <input type="text" id="ElkIP" placeholder="Elasticsearch IP" value="10.0.1.69">
      </div>
      <!--First Name-->
      <div>
        <label>First Name</label>
        <input type="text" id="searchfirstName" placeholder="First Name">
      </div>
      <!--Last Name-->
      <div>
        <label>Last Name</label>
        <input type="text" id="searchlastName" placeholder="Last Name">
      </div>

      <!--Submit Button-->
      <button type="submit" id="search">Buscar</button>
    </form>

    </br>
    <form id="atualizar">
      <span id="searchOutput"></span>
    </form>
    <form id='deletar'>
      <span id="deleteOutput"></span>
    </form>
    
    </br>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">
      $('form#enviar').ready(function() {
           $('#enviar').on('submit', function(event) {
             $.ajax({
                data : {
                   ElkIP : $('#ElkIP').val(),
                   firstName : $('#firstName').val(),
                   lastName: $('#lastName').val(),
                       },
                   type : 'POST',
                   url : '/insert'
                  })
              .done(function(data) {
                $('#insertOutput').text(data.output).show();
            });
            event.preventDefault();
          });
      });
      $('form#buscar').ready(function() {
        $('#buscar').on('submit', function(event) {
          $.ajax({
            data : {
              ElkIP : $('#ElkIP').val(),
              searchfirstName : $('#searchfirstName').val(),
              searchlastName: $('#searchlastName').val(),
            },
          type : 'POST',
          url : '/search'
          })
          .done(function(data) {
            document.getElementById("insertOutput").innerHTML = "";
              document.getElementById("searchOutput").innerHTML = "";
              document.getElementById("deleteOutput").innerHTML = "";
            if(data.output == "Nenhum dado encontrado!"){
              $('#searchOutput').text(data.output).show();
            } else {
              var search_return = data.output;
              var search_return = search_return.split(" ");
              var id = search_return[1]
              var nome = search_return[4]
              var sobrenome = search_return[7]
              $('#searchOutput').append("<h3>Resultado</h3>").show();
              $('#searchOutput').append("<div>ID.: <input type='text' id='id_user' value='"+id+"' disabled></input></div>").show();
              $('#searchOutput').append("<div>Nome.: <input type='text'id='nome_user' value='"+nome+"'></input></div>").show();
              $('#searchOutput').append("<div>Sobrenome.: <input type='text' id='sobrenome_user' value='"+sobrenome+"'></input></div>").show();
              $('#searchOutput').append("<button type='submit' id='update'>Atualizar</button>").show();
              $('#deleteOutput').append("<button type='submit' id='delete'>Deletar</button>").show();
            }
          });
          event.preventDefault();
        });
        $('form#atualizar').ready(function() {
          $('#atualizar').on('submit', function(event) {
            $.ajax({
              data : {
                id_user : $('#id_user').val(),
                nome_user : $('#nome_user').val(),
                sobrenome_user: $('#sobrenome_user').val(),
              },
            type : 'POST',
            url : '/update'
            })
            .done(function(data) {
              document.getElementById("insertOutput").innerHTML = "";
              document.getElementById("searchOutput").innerHTML = "";
              document.getElementById("deleteOutput").innerHTML = "";
              $('#searchOutput').text(data.output).show();
            });
            event.preventDefault();
          });
        });
        $('form#deletar').ready(function() {
          $('#deletar').on('submit', function(event) {
            $.ajax({
              data : {
                id_user : $('#id_user').val(),
                nome_user : $('#nome_user').val(),
                sobrenome_user: $('#sobrenome_user').val(),
              },
            type : 'POST',
            url : '/delete'
            })
            .done(function(data) {
              document.getElementById("insertOutput").innerHTML = "";
              document.getElementById("searchOutput").innerHTML = "";
              document.getElementById("deleteOutput").innerHTML = "";
              $('#searchOutput').text(data.output).show();
            });
            event.preventDefault();
          });
        });
        $("#search").click(function() {
          if($("#searchfirstName").val()== null || $("#searchlastName").val() ==""){
            alert('<< INFORME NOME E SOBRENOME >>');
            return false;
          }
        });
        $("#send").click(function() {
          if($("#firstName").val()== null || $("#lastName").val() ==""){
            alert('<< INFORME NOME E SOBRENOME >>');
            return false;
          }
        })
      });
    </script>

  </body>
</html>