<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<title>ELASTIC CRUD</title>
  </head>
  <body>
    <form id="enviar">
      <!--Elasticsearch IP-->
      <div>
        <label>Elasticsearch IP</label>
        <input type="text" id="ElkIP" placeholder="Elasticsearch IP" value="192.168.1.9">
      </div>
      <!--First Name-->
      <div>
        <label>First Name</label>
        <input type="text" id="firstName" placeholder="First Name">
      </div>
      <!--Last Name-->
      <div>
        <label>Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name">
      </div>

      <!--Submit Button-->
      <button type="submit" id="send">Enviar</button>
    </form>
    
    </br>
      <div id="insertOutput"></div>
    </br>

    <form id="buscar">
      <!--Elasticsearch IP-->
      <div>
        <label>Elasticsearch IP</label>
        <input type="text" id="ElkIP" placeholder="Elasticsearch IP" value="192.168.1.9">
      </div>
      <!--First Name-->
      <div>
        <label>First Name</label>
        <input type="text" id="searchfirstName" placeholder="First Name">
      </div>
      <!--Last Name-->
      <div>
        <label>Last Name</label>
        <input type="text" id="searchlastName" placeholder="Last Name">
      </div>

      <!--Submit Button-->
      <button type="submit" id="search">Buscar</button>
    </form>

    </br>
      <div id="searchOutput"></div>
    </br>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script type="text/javascript">
      $('form#enviar').ready(function() {
           $('#enviar').on('submit', function(event) {
             $.ajax({
                data : {
                   ElkIP : $('#ElkIP').val(),
                   firstName : $('#firstName').val(),
                   lastName: $('#lastName').val(),
                       },
                   type : 'POST',
                   url : '/update'
                  })
              .done(function(data) {
                $('#insertOutput').text(data.output).show();
            });
            event.preventDefault();
          });
      });
      $('form#buscar').ready(function() {
        $('#buscar').on('submit', function(event) {
          $.ajax({
            data : {
              ElkIP : $('#ElkIP').val(),
              searchfirstName : $('#searchfirstName').val(),
              searchlastName: $('#searchlastName').val(),
            },
          type : 'POST',
          url : '/search'
          })
          .done(function(data) {
            $('#searchOutput').text(data.output).show();
          });
          event.preventDefault();
        });
      });
    </script>

  </body>
</html>